.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 10px;
  //text-decoration: none;
  color: #f27a45;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  font-size: 0.75em;
  padding: 1em;
}
